body {
  background-image: url('https://i.imgur.com/T4V3xu5.jpg');
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-decoration: double;
}
h1,
h2 {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  color: #F5BB00;
}
h2 {
  font-size: large;
}

#header-nav ul {
  /* display: flex;
  justify-content: center; */
  padding-left: 0;
}

#page {
  max-width: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(244, 233, 205, 0.9); */
}

.create-question form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-question p {
  font-family: 'Roboto Serif', serif;
  font-weight: 400;
}
