body {
  background-image: url("https://i.imgur.com/T4V3xu5.jpg");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: xx-large;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  
}
h1,
h2 {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  color: #f5bb00;
}
h2 {
  font-size: large;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.material-icons {
  color: #ffd166;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  /* font-size: xx-large; */
  font-size: clamp(35px, 2vw, 55px);
}
.material-icons:hover {
  transform: scale(1.3);
  color: #f5bb00;
}

p {
  font-family: "Roboto Serif", serif;
  color: #ffd166;
}

#header-nav ul {
  /* display: flex;
  justify-content: center; */
  padding-left: 0;
  cursor: pointer;
}

#page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(244, 233, 205, 0.9); */
}

.question-board div {
  color: #f5bb00;
  font-size: large;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid #f5bb00;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 4px;
  background-color: #064789;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.question-board div:hover {
  transform: scale(1.3);
}

.create-question form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-question p {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
}

#question {
  font-size: larger;
  text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: #064789;
  border: 2px dotted #f5bb00;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  /* border-style: groove; */
}

.jeopady {
  cursor: pointer;
}

.answer-btn {
  background-color: #449dd1;
  border: 2px solid #f5bb00;
  color: antiquewhite;
  cursor: pointer;
  border-radius: 30px;
  font-size: larger;
  padding: 7px 15px;
}

.user-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}
